.contacts__tel__footer {
  display: block;
  font-family: $custom-font;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}

.contacts__email-callback {
  color: #ffffff;
  text-decoration: none;
}
