@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-regular400.woff2") format("woff2"),
    url("../fonts/roboto/roboto-regular400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/playfair-display/Prata-Regular.woff2") format("woff2"),
    url("../fonts/playfair-display/Prata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/playfair-display/Prata-Bold.woff2") format("woff2"),
    url("../fonts/playfair-display/Prata-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
