$color-brown: #555248;
$color-darken-gray: #444240;
$color-darken-brown: #1b1a17;
$color-gray: #efefef;

$default-font: "Prata", "Arial", sans-serif;
$custom-font: "Roboto", sans-serif;

$tablet-width: 768px;
$desktop-width: 1366px;
